<div id="app">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="#" class="navbar-brand">NandaLAL</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      @if (showAdminBoard) {
        <li class="nav-item">
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
      }
      @if (showModeratorBoard) {
        <li class="nav-item">
          <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
        </li>
      }
      @if (isLoggedIn) {
        <li class="nav-item">
          <a href="/user" class="nav-link" routerLink="user">User</a>
        </li>
        <li class="nav-item">
          <a routerLink="tutorials" class="nav-link" routerLink="tutorials">Tutorials</a>
        </li>
        <li class="nav-item">
          <a routerLink="add" class="nav-link" routerLink="add">Add</a>
        </li>
      }
    </ul>
    </div>

    @if (!isLoggedIn) {
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
    } @else {
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    }
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
